.navbarContainer {
    width:80%;
}

.jobCard {
    width: 90%;
    background-color: aqua;
    margin-top: 2.7rem;
}

.jobDetails {
    width: 15vw;
}

.jobColOne {
    border: 2px solid grey;
    padding-right: .5rem;
    padding-left: 1rem;
    box-shadow: -5px 0px 10px grey;
    height: 80vh;
    overflow: scroll;
}

.jobColTwo {
    height:80vh;
    border: 2px solid grey;
}

.applyButtons {
    background-color: #86BBD8;
    border-color: #86BBD8;
}

.jobDescription {
    white-space: pre-wrap;
}